* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  padding: 2rem 3rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  border-top: rgb(80, 98, 255) 0.5rem solid;
}

h2 {
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border: solid 2px;
  padding: 5%;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  font-size: 1.1rem;
}

button {
  background-color: rgb(80, 98, 255);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgb(80, 98, 255);
}

.private {
  height: 100vh;
  width: 100vw;
  background-color: rgb(80, 98, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.private button {
  background-color: black;
  border-radius: 2rem;
}

.logout {
  position: absolute;
  right: 0px;
  color: darkred;
  background-color: transparent;
  font-size: larger;
  top: 1%;
  font-weight: bolder;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.containerflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 32%;
  padding-bottom: 12%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border-style: solid;
}

table td {
  border-style: solid;
  border-width: thin;
}

.txt {
  width: 100%;
  height: 28%;
  word-break: break-all;
}
